.footer {
  height: 5em;
  padding: 1em;
  border-top: 1px solid white;
  border-radius: 8px;
  margin: auto;
  box-shadow:
      0 0 1px green,
      0 0 5px green,
      0 0 10px green,
      0 0 20px green,
      0 0 30px green,
      0 0 92px green,
      0 0 102px green,
      0 0 120px green;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
}

