.about {
  width: 75%;
  display: flex;
  flex-direction: column;
  background-color: var(--card);
  gap: 5em;
  padding: 2em;
  border: 1px solid var(--border);
  & p {
    width: 80%;
    text-align: center;
    margin: auto;
  }
}

.about section:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin: auto;
  & div {
    background: var(--background);
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 1em;
    text-align: center;
    width: 45%;
    margin-right: 15em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    & a {
      text-decoration: none;
      color: var(--links);
    }
  }
  & div:nth-child(2n) {
    margin-left: 40em;
    border: 1px solid var(--text);
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

@media (max-width: 720px) {
  .about {
    width: 95%;
    padding: 0.5em;
    & p {
      margin: 0;
      width: 100%;
    }
  }

  .about section:last-child {
    width: 100%;
    & div {
      width: 70%;
      margin-right: 5em;
    }
    & div:nth-child(2n) {
      margin-left: 10em;
    }
  }
}
