.about {
  width: 75%;
  display: flex;
  flex-direction: column;
  background-color: var(--card);
  gap: 5em;
  padding: 2em;
  border: 1px solid var(--border);
  & p {
    width: 80%;
    text-align: center;
    margin: auto;
  }
}

.about section:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin: auto;
  & div {
    border: 2px solid var(--border);
    border-radius: 8px;
    padding: 1em;
    text-align: center;
    width: 45%;
    margin-right: 15em;
  }
  & div:nth-child(2n) {
    margin-left: 40em;
    border: 2px solid var(--text);
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

@media (max-width: 720px) {
  .about {
    width: 95%;
    padding: 0.5em;
    & p {
      margin: 0;
      width: 100%;
    }
  }
}
