:root {
  --primary-color: #3b82f6;
  --secondary-color: #10b981;
  --tertiary-color: #a858b0;

  /* Mobile */
  --text-courant-m: 1rem;
  --h1-m: 2.488rem;
  --h2-m: 2.074rem;
  --h3-m: 1.728rem;
  --h4-m: 1.44rem;
  --small-text-m: 0.833rem;

  /* Desktop */
  --text-courant: 1rem;
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --small-text: 0.8rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: var(--text-courant);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

@media (max-width: 720px) {
  body {
    font-size: var(--text-courant-m);
  }

  h1 {
    font-size: var(--h1-m);
    text-align: center;
  }

  h2 {
    font-size: var(--h2-m);
  }

  h3 {
    font-size: var(--h3-m);
  }

  h4 {
    font-size: var(--h4-m);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #3b82f6;
    --secondary-color: #10b981;
    --tertiary-color: #a858b0;
  }

  body {
    background-color: var(--background);
    color: var(--text);
  }
}
