:root {
  --text: #0d3c48;
  --links: #107d98;
  --background: #fafdfe;
  --border: #3db9cf;
  --card: #f2fafb;
  --button: #0797b9;
  --button-hover: #3db9cf;
  --labels: #b5e9f0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header,
main,
footer {
  display: flex;
}

main {
  flex-direction: column;
  justify-content: space-around;
  gap: 15em;
  align-items: center;
  max-width: 100vw;
  margin: 10em auto;
  padding: 0 16px;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-family: var(--font-permanent-marker);
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.375rem;
}

span {
  font-family: var(--font-permanent-marker);
  font-size: 32px;
}

mark {
  font-family: var(--font-permanent-marker);
}

@media (max-width: 720px) {
  h1 {
    font-size: 1.87rem;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  span {
    font-size: 1.5rem;
    text-align: center;
  }

  mark {
    text-align: center;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #b6ecf7;
    --links: #4ccce6;
    --background: #0b161a;
    --border: #04546c;
    --card: #101b20;
    --button: #23afd0;
    --button-hover: #00a2c7;
    --labels: #004558;
  }
  body {
    background-color: var(--background);
    color: var(--text);
  }
}
