:root {
  --background-color: #fdfdfe;
  --primary-color: #1d2e5c;
  --secondary-color: #10b981;
  --tertiary-color: #3d63dd;
  --quaternary-color: #bdd1ff;
  --neutral-color: #efeded;

  /* Desktop */
  --text-courant: 1rem;
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --small-text: 0.8rem;

  /* Mobile */
  --text-courant-m: 1rem;
  --h1-m: 2.488rem;
  --h2-m: 2.074rem;
  --h3-m: 1.728rem;
  --h4-m: 1.44rem;
  --small-text-m: 0.833rem;

  /* Spacing */
  --xxs-spacing: 0.5em;
  --xs-spacing: 1em;
  --s-spacing: 1.5em;
  --m-spacing: 2em;
  --ml-spacing: 2.5em;
  --l-spacing: 3em;
  --xl-spacing: 3.5em;
  --xxl-spacing: 4em;

  /* Border-radius */
  --radius-s: 8px;
  --radius-m: 16px;
  --radius-l: 24px;
  --radius-xl: 99px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inter);
  font-size: var(--text-courant);
  color: var(--primary-color);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-family: var(--font-space-grotesk);
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 720px) {
  body {
    font-size: var(--text-courant-m);
  }

  h1 {
    font-size: var(--h1-m);
    text-align: center;
  }

  h2 {
    font-size: var(--h2-m);
  }

  h3 {
    font-size: var(--h3-m);
  }

  h4 {
    font-size: var(--h4-m);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1d2e5c;
    --primary-color: #3b82f6;
    --secondary-color: #10b981;
    --tertiary-color: #a858b0;
  }

  body {
    background-color: var(--background-color);
    color: var(--text);
  }
}
