.main {
  flex-direction: column;
  gap: 15em;
}

.main>section {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2em ;
}

.profile {
  border: 1px solid #28684A;
  border-radius: 8px;
  width: 75vw;
  margin: 15em auto;
  & img {
    border-radius: 208px;
  }
}

.title {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  & span {
    color: #3DD68C;
  }
  & span:first-of-type {
    font-size: 28px;
  }
}

.socialButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2em;
  gap: 1em;
  & a {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    align-items: center;
    width: 50%;
    border-radius: 8px;
    height: 2em;
    border-style: none;
    background-color: #30A46C;
    color: #EEEEEE;
    & svg {
      height: 1.5em;
      width: 1.5em;
    }
  }
  & :hover {
    background-color: #33B074;
    /* transition: 0.3s ease-in; */
    cursor: pointer;
    & svg {
      height: 1.7em;
      width: 1.7em;
    }
  }
}

.secondPart {
  display: flex;
  flex-direction: column;
  gap: 10em;
}

.technos {
  /* width: 60vw; */
  display: flex;
  flex-wrap: wrap;
  gap: 5em;

  & figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border: 1px solid white;
  border-radius: 8px;
  background-color: white;
  gap: 1em;

  & figcaption {
    color: darkgreen;
    font-weight: bolder;
  }
}
}

